<!DOCTYPE html>
<html>
<head>
  <title>Memory Game</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  <div class="center">
    <div class="card" *ngFor="let card of cardsTyped" (click)="revealCard(card)" >
      <img src="{{ card.image }}" *ngIf="card.revealed" alt="Card Image" style="width: 10vw">
      <div class="card-back" *ngIf="!card.revealed">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/PlaceholderLC.png" alt="sexo" style="width: 10vw">
      </div>
    </div>
  </div>
</body>
</html>
